<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8"/>
  <title>myApp</title>

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="components/dialog.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body ng-controller="appController">
<button ng-click="showDialog()">Show dialog</button>

<my-dialog show="isDialogVisible"
           dialog-title="Hello World!"
           dialog-text="You could write whatever you want here.">
  <button ng-click="closeDialog()">Close</button>
</my-dialog>
</body>
</html>
